params {
    outdir                  = "results"

    input_dir               = "$projectDir/test/"

    fwd_primer              = "GCAAGTCTGGTGCCAGTGCG"

    rev_primer              = "GTTGTGACGTGCATGAATGG"
    
    mismatches              = 3

    barcode_length          = 13

    log                     = true
}

profiles {
    milton {
        conda.enabled = true
        cleanup = true
        process.cpus = 8
        process.memory = { 8.GB * task.attempt }
        process.time = '12h'
        process.errorStrategy = { 'retry' }
        process.maxRetries = 5
    }
    log {
        includeConfig 'logger.config'
    }
}