params {
    outdir                  = "results"

    input_dir               = "$projectDir/.test/data"

    fwd_primer              = "GGGGGATAACATTGAACTTC"

    rev_primer              = "CCTAATATACGGACGCAATC"
    
    mismatches              = 1

    barcode_length          = 12

    log                     = true
}

profiles {
    milton {
        conda.enabled = true
        cleanup = true
        process.cpus = 1
        process.memory = { 8.GB * task.attempt }
        process.time = '12h'
        process.errorStrategy = { 'retry' }
        process.maxRetries = 5
    }
    test {
        conda.enabled = true
        stubRun = true
        cleanup = false
        process.memory = '1 GB'
        process.cpus = 1
    }
    log {
        includeConfig 'logger.config'
    }
}