params {
    outdir                  = "results"

    input                   = "$projectDir/test/test.fastq"

    mismatches              = 3

    fwd_primer              = "GGTTCATTCTCAAGCCTCAGAC"

    rev_primer              = "CTATGTTGCTCCTTTTACGCTATG"
}

profiles {
    milton {
        conda.enabled = true
        cleanup = true
        process.cpus = 8
        process.memory = { 8.GB * task.attempt }
        process.time = '12h'
        process.errorStrategy = { 'retry' }
        process.maxRetries = 5
    }
    log {
        includeConfig 'logger.config'
    }
}